<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      Créer une annonce
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
<<<<<<< HEAD
      <%= form_for Annonce.new, :html => {:multipart => true} do |a| %>
=======
      <%= form_for @annonce,:html => {:multipart => true} do |a| %>
>>>>>>> 0b3d2b3bc02483c0533bd452aa65a5b7e6e66157
        <div class="col-sm-6">
          <div class="form-group">
            <%= a.label :title %> 
            <%= a.text_field :title %>
            <%= hidden_field_tag 'user_id', current_user.id %>
          </div>
          <div class="form-group">
            <%= file_field_tag('annonce_uploads_attributes_uploads', multiple: true, name: "annonce[uploads_attributes][][picture]") %>
            <p>
              salut
            </p>
          </div>
          <div class="form-group">
            <%= a.label :description %>
            <%= a.text_area :description %>

          </div>
          <div class="form-group">
            <%= a.label :price %>
            <%= a.number_field :price %>
          </div>
          <div class="form-group">
            <%= a.submit  "Créer" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
