:javascript


  function archiver(id)
  {
    bootbox.confirm("Are you sure you want to archive it?",function(result){
      if(result)
        $.ajax({
          headers: {
            'X-CSRF-Token': $("meta[name='csrf-token']").attr("content")
          },
          url: window.location.pathname,
          type: 'PATCH',
          data: {archive: true},
          success: function(result){
            location.href='/annonces'
          }
        });
    });
  }

  function modifier(id)
  {

        location.href=window.location.pathname+'/edit';
  }

  function signaler(id){
    bootbox.confirm("Etes-vous sur de vouloir signaler cette annonce ? ", function(result){
      if(result)
        location.href= window.location.pathname+"/signaler?id="+id;
    });

  }

.row
  .col-sm-8
    .panel.panel-default.contact_form{style: "display: none"}
      .panel-heading
        %button.close.close-contact{}
          &times;
        %p
          Contacter
      .panel-body
        = form_tag("/annonces/contact", method: "post") do
          .form-group
            %input#id.form-control{type: 'hidden', value:@annonce["user_id"], name: 'user_id'}
            %label{for: "exampleInputPassword1"} Message
            %textarea#description.form-control{rows: "8", name: "message"}
          .form-group
            %button.btn.btn-default{type: "submit"} Envoyer
    .panel.panel-default
      .panel-heading
        %p= @annonce["title"]
        %i= @category["name"]
      .panel-body
        %ul.rslides
          -for picture in @pictures
            %li
              = image_tag(picture.picture.url(:large))
        %ul.rslides-pager
          - for picture in @pictures
            %li.slides_s

            = link_to image_tag(picture.picture.url(:thumb)), '#'
    .panel.panel-default
      .panel-body
        %p= @annonce["price"]
    .panel.panel-default
      .panel-body
        %p= @annonce["description"]
  .col-sm-4
    - if @displayed_by_owner
      .panel.panel-default
        .panel-heading
          %p
            Gerer        
        .panel-body
          %button.btn.btn-primary.btn-lg.btn-block{onclick: "modifier("+@annonce["id"].to_s+")" }
            Modifier l'annonce
          %button.btn.btn-warning.btn-lg.btn-block{onclick: "archiver("+@annonce["id"].to_s+")" }
            Archiver l'annonce
          = button_to "Supprimer l'annonce", annonce_path, :method=>:delete, class: "btn btn-danger btn-lg btn-block", data: {confirm:"Etes vous sur ?"}
    -else
      .panel.panel-default
        .panel-heading
          %p
            Contacter       
        .panel-body
          %p
            %i.fa.fa-user
            - if @owner['username'].nil?
            -else
              = @owner['username']
          %p
            %i.fa.fa-phone
            - if @owner['firstname'].nil?
            -else
              = @owner['firstname']
          %p
            %i.fa.fa-envelope
            = @owner['email']
          %button.btn.btn-primary.btn-lg.btn-block.contact
            Contacter
      .panel.panel-default
        .panel-heading
          %p
            Signaler      
        .panel-body    
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "signaler("+@annonce["id"].to_s+")" }
            Signaler l'annonce

:javascript
  $(document).ready(function(){
    $(function() {
        $(".rslides").responsiveSlides({
        manualControls: '.rslides-pager',
        maxwidth: 400,
        maxheight: 200,
        speed: 800
        });
      });

    $( ".contact" ).click(function() {
      $( ".contact_form" ).show( 1000 );
      $(this).toggleClass("disabled")
    });

    $( ".close-contact" ).click(function() {
      $( ".contact_form" ).hide( 2000 );
      $(".contact").removeClass("disabled");
    });
  });