:javascript
  console.log(window.location.pathname);
  function supprimer (id)
  {
    bootbox.confirm("Are you sure?", function(result){
      if(result)
        location.href='/annonces/destroy?id='+id;
    })
  }

  function archiver(id)
  {
    bootbox.confirm("Are you sure you want to archive it?",function(result){
      if(result)
        location.href='/annonces/archiver?id='+id;
    })
  }

  function modifier(id)
  {

        location.href=window.location.pathname+'/edit';
  }

  function signaler(id){
    bootbox.confirm("Etes-vous sur de vouloir signaler cette annonce ? ", function(result){
      if(result)
        location.href='/annonces/signaler?id='+id;
    });
  }

.row
  .col-sm-8
    .panel.panel-default.contact_form{style: "display: none"}
      .panel-heading
        %button.close.close-contact{}
          &times;
        %p
          Contacter
      .panel-body
        = form_tag("/annonces/contact", method: "post") do
          .form-group
            %input#id.form-control{type: 'hidden', value:@annonce["user_id"], name: 'user_id'}
            %label{for: "exampleInputPassword1"} Message
            %textarea#description.form-control{rows: "8", name: "message"}
          .form-group
            %button.btn.btn-default{type: "submit"} Envoyer
    .panel.panel-default
      .panel-heading
        %p= @annonce["title"]
      .panel-body
      - for asset in @annonce.assets 
        = link_to image_tag(asset.asset.url(:thumb)), asset.asset.url(:original) 
    .panel.panel-default
      .panel-body
        %p= @annonce["price"]
    .panel.panel-default
      .panel-body
        %p= @annonce["description"]
  .col-sm-4
    - if @displayed_by_owner
      .panel.panel-default
        .panel-heading
          %p
            Gerer        
        .panel-body
          %button.btn.btn-primary.btn-lg.btn-block{onclick: "modifier("+@annonce["id"].to_s+")" }
            Modifier l'annonce
          %button.btn.btn-warning.btn-lg.btn-block{onclick: "archiver("+@annonce["id"].to_s+")" }
            Archiver l'annonce
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "supprimer("+@annonce["id"].to_s+")" }
            Supprimer l'annonce
    -else
      .panel.panel-default
        .panel-heading
          %p
            Contacter       
        .panel-body
          %p
            %i.fa.fa-user
            = @owner['username']
          %p
            %i.fa.fa-phone
            = @owner['firstname']
          %p
            %i.fa.fa-envelope
            = @owner['email']
          %button.btn.btn-primary.btn-lg.btn-block.contact
            Contacter
      .panel.panel-default
        .panel-heading
          %p
            Signaler      
        .panel-body    
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "signaler("+@annonce["id"].to_s+")" }
            Signaler l'annonce

:javascript
  $(document).ready(function(){

    $( ".contact" ).click(function() {
      $( ".contact_form" ).show( 1000 );
      $(this).toggleClass("disabled")
    });

    $( ".close-contact" ).click(function() {
      $( ".contact_form" ).hide( 2000 );
      $(".contact").removeClass("disabled");
    });

  });