:javascript
  function supprimer (id)
  {
    bootbox.confirm("Are you sure?", function(result){
      if(result)
        location.href='/annonces/destroy?id='+id;
    })
  }

  function archiver(id)
  {
    bootbox.confirm("Are you sure you want to archive it?",function(result){
      if(result)
        location.href='/annonces/archiver?id='+id;
    })
  }
.row
  .col-sm-8
    .panel.panel-default
      .panel-heading
        %p= @annonces[0]["title"]
      .panel-body
        %img{src:""+ @annonces[0]["url"].to_s, style: "width:120px; height:140px;"}
    .panel.panel-default
      .panel-body
        %p= @annonces[0]["price"]
    .panel.panel-default
      .panel-body
        %p= @annonces[0]["description"]
  .col-sm-4
    - if @annonces[0]["user_id"] == current_user.id
      .panel.panel-default
        .panel-heading
          %p
            Gerer        
        .panel-body
          %button.btn.btn-primary.btn-lg.btn-block
            Modifier l'annonce
          %button.btn.btn-warning.btn-lg.btn-block{onclick: "archiver("+@annonces[0]["id"].to_s+")" }
            Archiver l'annonce
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "supprimer("+@annonces[0]["id"].to_s+")" }
            Supprimer l'annonce
    -else
      .panel.panel-default
        .panel-heading
          %p
            Contacter       
        .panel-body
          %p
            %i.fa.fa-user
            = @prop[0]['username']
          %p
            %i.fa.fa-phone
            = @prop[0]['firstname']
          %p
            %i.fa.fa-envelope
            = @prop[0]['email']
      .panel.panel-default
        .panel-heading
          %p
            Signaler      
        .panel-body    
          %button.btn.btn-danger.btn-lg.btn-block
            Signaler l'annonce