:javascript
  function supprimer (id)
  {
    bootbox.confirm("Are you sure?", function(result){
      if(result)
        location.href='/annonces/destroy?id='+id;
    })
  }

  function archiver(id)
  {
    bootbox.confirm("Are you sure you want to archive it?",function(result){
      if(result)
        location.href='/annonces/archiver?id='+id;
    })
  }

  function modifier(id)
  {
        location.href='/annonces/modify?id='+id;
  }

  function signaler(id){
    bootbox.confirm("Etes-vous sur de vouloir signaler cette annonce ? ", function(result){
      if(result)
        location.href='/annonces/signaler?id='+id;
    });
  }

.row
  .col-sm-8
    .panel.panel-default.contact_form{style: "display: none"}
      .panel-heading
        %button.close.close-contact{}
          &times;
        %p
          Contacter
      .panel-body
        = form_tag("/annonces/update", method: "post") do
          .form-group
            %label{for: "exampleInputPassword1"} Message
            %textarea#description.form-control{rows: "8", name: "message"}
          .form-group
            %button.btn.btn-default{type: "submit"} Envoyer
    .panel.panel-default
      .panel-heading
        %p= @annonces[0]["title"]
      .panel-body
        %img{src:""+ @annonces[0]["url"].to_s, style: "width:120px; height:140px;"}
    .panel.panel-default
      .panel-body
        %p= @annonces[0]["price"]
    .panel.panel-default
      .panel-body
        %p= @annonces[0]["description"]
  .col-sm-4
    - if @annonces[0]["user_id"] == current_user.id
      .panel.panel-default
        .panel-heading
          %p
            Gerer        
        .panel-body
          %button.btn.btn-primary.btn-lg.btn-block{onclick: "modifier("+@annonces[0]["id"].to_s+")" }
            Modifier l'annonce
          %button.btn.btn-warning.btn-lg.btn-block{onclick: "archiver("+@annonces[0]["id"].to_s+")" }
            Archiver l'annonce
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "supprimer("+@annonces[0]["id"].to_s+")" }
            Supprimer l'annonce
    -else
      .panel.panel-default
        .panel-heading
          %p
            Contacter       
        .panel-body
          %p
            %i.fa.fa-user
            = @prop[0]['username']
          %p
            %i.fa.fa-phone
            = @prop[0]['firstname']
          %p
            %i.fa.fa-envelope
            = @prop[0]['email']
          %button.btn.btn-primary.btn-lg.btn-block.contact
            Contacter
      .panel.panel-default
        .panel-heading
          %p
            Signaler      
        .panel-body    
          %button.btn.btn-danger.btn-lg.btn-block{onclick: "signaler("+@annonces[0]["id"].to_s+")" }
            Signaler l'annonce

:javascript
  $(document).ready(function(){

    $( ".contact" ).click(function() {
      $( ".contact_form" ).show( 1000 );
      $(this).toggleClass("disabled")
    });

    $( ".close-contact" ).click(function() {
      $( ".contact_form" ).hide( 2000 );
      $(".contact").removeClass("disabled");
    });

  });