<!DOCTYPE html>
<html>
<head>
  <title>Leboncoin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "bootstrap-notify" %>
<!--   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <%= stylesheet_link_tag "bootstrap-notify" %>
  <%= stylesheet_link_tag "styles/alert-bangtidye" %>
  <%= stylesheet_link_tag "styles/alert-blackgloss" %>
  <%= stylesheet_link_tag "pure/layouts/marketing-old-ie" %> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Leboncoin</a>
    </div>
<% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Mes annonces</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>      
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
<!--         <li><a href="#">Link</a></li> -->
        <li><%= image_tag avatar_url(current_user), :class => 'navbar-form' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
<% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-btn'  %></button></li>
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Login", new_user_session_path, :class => 'navbar-btn'  %></button></li>
      </ul>
    </div><!-- /.navbar-collapse -->

<% end %>
  </div>
</div>


<div class='notifications bottom-right'></div>
<% if notice %>
<%= javascript_tag do %>
$('.bottom-right').notify({
    message: { 
      text: '<%= notice %>'
       }
  }).show();
<% end %>
<% end %>

<% if alert %>
<%= javascript_tag do %>
$('.bottom-right').notify({
    message: { 
      text: '<%= alert %>'
       }
  }).show();
<% end %>
<% end %>


<div class="container">
<%= yield %>
</div>

</body>
</html>
